{
  "root": true,

  "extends": [
    "hardcore",
    "hardcore/react",
    "hardcore/react-testing-library",
    "hardcore/ts",
    "prettier/prettier"
  ],

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": false,
        "semi": false,
        "endOfLine": "auto"
      }
    ],
    "@typescript-eslint/quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "@typescript-eslint/prefer-readonly-parameter-types": ["off"],
    "semi": [
      "error",
      "never"
    ],
    "import/extensions": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "spaced-comment": ["off"],
    "typescript/remove-useless-parens": ["off"],
    "@typescript-eslint/parameter-properties": ["off"]
  },

  "overrides": [
    {
      "files": ["doom2d*.m?js"]
    }
  ],
  "ignorePatterns": ["doom2d*.m?js"]
}
